
<div class="container">
    <div class="row">
      <div class="col-lg-12">
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
     User Details
      </h3>
     
     </div>
    
    <form  class="emp-form" #cropForm="ngForm" >
     
      <div class="panel-body">
        <div class="form-row">
          
            <div class="form-group">
              <label>Enter First Name</label>
                <input class="form-control" name="fName" [(ngModel)]=fname placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label>Enter Last Name</label>
                  <input class="form-control" name="lName" [(ngModel)]=lname placeholder="Enter Last Name">
              </div>
            <!-- <div class="form-group">
              <label>Full Name</label>
                <input class="form-control" name="fullname"  [(ngModel)]=fullname placeholder="">
            </div> -->
            
        </div>
      </div>
      <div class="panel-footer">
        <div class="form-row">
            <div class="form-group ">
                <button type="submit" class="btn btn-primary pull-right" (click)="onSubmit()">
    Submit
                </button>
            </div>
            <br>
            
        </div>
      </div>
    </form>
    </div>
    </div>
     
    </div>
    </div>