
<div class="container">
    <div class="row">
      <div class="col-lg-12">
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
     User Details
      </h3>
     
     </div>
    
    <form  class="emp-form" #cropForm="ngForm" >
     
      <div class="panel-body">
        <div class="form-row">
          
           
            <div class="form-group">
              <label>Full Name</label>
                <input class="form-control" name="fullname"  [(ngModel)]=model.data placeholder="">
            </div>
            
        </div>
      </div>
      <div class="panel-footer">
        <div class="form-row">
            <div class="form-group ">
                <button type="submit" class="btn btn-primary pull-right" (click)="onSubmit()">
    Home
                </button>
            </div>
            <br>
            
        </div>
      </div>
    </form>
    </div>
    </div>
     
    </div>
    </div>